@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body{
    font-family:$font-body;
    background:$gray-100;
    color:$gray-800;
    line-height:1.7;
}

.container{
    @include container;
}

.section{
    padding:100px 0;
}

.text-center{
    text-align:center;
}