@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero{

    min-height:100vh;

    background:
    radial-gradient(circle at top right,#fde68a,transparent 40%),
    linear-gradient(#fffdf9,#fff7ed);

    display:flex;

    align-items:center;

    padding-top:170px;

    &__container{

        display:grid;

        grid-template-columns:1fr 1fr;

        align-items:center;

        gap:60px;

    }

    &__subtitle{

        color:$primary;

        font-weight:700;

        letter-spacing:3px;

    }

    h1{

        font-size:4.5rem;

        margin:20px 0;

        line-height:1.05;

        span{

            color:$secondary;

            display:block;

        }

        small{

            display:block;

            color:$primary;

            font-size:2rem;

            margin-top:10px;

        }

    }

    p{

        font-size:1.15rem;

        color:$gray-600;

        max-width:550px;

        margin-bottom:35px;

    }

    &__buttons{

        display:flex;

        gap:20px;

    }

    &__image{

        display:flex;
        justify-content:center;

        img{

            width:100%;
            max-width:620px;

            animation:float 5s ease infinite;

        }

    }

}

@keyframes float{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-18px);

    }

}